body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 25mm;
    background-color: #ffff;
    font: 12pt "Verdana";
    display: block;
}
.hr {
    border: 0;
    border-top: medium double black;
    height: 0px;
    overflow: visible;
    padding: 0;
    color: #2a52be;
    text-align: center;
    margin-bottom: 3px;
}
.hr2 {
    border: 0;
    border-top: medium double black;
    height: 0px;
    overflow: visible;
    padding: 3px;
    color: #2a52be;
    text-align: center;
    width: 45%;
    margin-top: 3px;
	margin-bottom: 0;
}
#informações {
    position:fixed;
    top: 1%;
    right: 1%;
    width: 450px;
    height: 620px;
    border: 1px solid #fff;
    padding: 10px;
    overflow-y:scroll;
}
input {
    width: 100%;
    height: 30px;
    padding: 3px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #CCC;
    text-indent: 4px;
}
input::placeholder{
    text-align: center;
}

#textoApresentação {
    width: 100%;
    height: 200px;
    padding: 3px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #CCC;
    text-indent: 4px;
    word-wrap:break-word;
}
#textoApresentação::placeholder {
    text-align: center;
}
select {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    border: 1px solid #CCC;
    padding-left: 100px;
}

.cabeçario-left{
    display: block;
}
#NomeCompleto {
    font-size: x-large;
    color: #2a52be;
    text-align: left;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
    width: 100%;
}
#PalavrasChaves {
    font-size:medium;
    color: #2a52be;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    display: block;
    width: 80%;

}
#iconLinkedin {
    display: inline;
    color: #2a52be;
}
#LinkedIn {
    font-size: medium;
    color: #2a52be;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    display: inline;
    width: 60%;
    margin-left: 8px;


}
#iconTelefone {
    display: inline;
    color: #2a52be;
}
#Telefone {
    font-size: medium;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    width: 20%;
    display: inline;
    margin-left: 8px;
}
#iconEmail {
    display: inline;
    color: #2a52be;
    margin-left: 10px;

}
#Email {
    font-size: medium;
    color: #2a52be;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 5px;
    display: inline;
    width: 40%;

}
#iconEndereço {
    display: inline;
    color: #2a52be;
}
#Endereço {
    font-size: medium;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 08px;
    display: inline;
    width: 60%;

}
#iconInfos {
    display: inline;
    color: #2a52be;
    margin-left: 3px;
}
#EstadoCivil {
    font-size: medium;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 11px;
    margin-right: 0;
    display: inline;
    width: 60%;

}
#Idade {
    font-size: medium;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 3px;
    display: inline;
    width: 60%;

}
#Apresentação {
    text-align: justify;
    width: 100%;
    margin-top: -5px;
}

button {
    width: 100%;
    height: 30px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 4px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#book {
    display:block;
}
.page {
    position:relative;
    float:left;
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 10mm auto;
    border: 1px #ffff;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px #ffff;
    height: 257mm;
    outline: 2cm #ffff;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html , body * {
        visibility: hidden;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .noprint, #noprint {
        display: none;
    }
    #imprimir, #imprimir * {
        visibility: visible;
    }
    #imprimir {
        position:static;
        margin-top: -100px;
        margin-bottom: 200px;
        margin-left: -95px;
        top: 0px;
        left: 0;  
        page-break-after: auto;
    
    }
     #Apresentação {
        text-align: justify;
        margin-top: -100px;
    }
    
    .cabeçario-left{
        display:flow-root;
        position:relative;
        
    }
    .cabeçario-right-image{
        display:flow-root;
        position:relative;
        margin-top: -70px;
        margin-left: -10px;
    }
   .footer2{
    display: flex;
    position:absolute;
    bottom: 100px;
    font-size: small;
    width: 680px;
    margin-bottom: -1125px;
   }


}
.cabeçario{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;

}
.cabeçario-left{
    width: 80%;
    height: 20vh;
}
.cabeçario-right{
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cabeçario-right-image{
    width: 100%;
}
.divApresentação {
    font-size:smaller;
    display: flex;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 30px;
	margin-bottom: 10px;
    margin-left: 0px;
}

.divPrincipaisCompetencias, .divFormação, .divFormaçãoComplementar, .divExperiênciaProfissional, .divIdiomaValores, .divPrêmioseTítulos {
    font-size: medium;
    color: #2a52be;
    text-align: left;
    margin-top: 10px;
	margin-bottom: 0;
    margin-left: 10px;
    display: flex;
    width: 100%;
}
#iconCompetencias{
    display: inline;
    color: #2a52be;
    margin-left: -8px;
    margin-top: 5px;
}
#principaisCompetencias{
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
}

#iconFormação{
    display: inline;
    color: #2a52be;
    margin-left: -8px;
    margin-top: 5px;
}
#formação{
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
}

#iconFormaçãoComplementar{
    display: inline;
    color: #2a52be;
    margin-left: -05px;
    margin-right: 3px;
    margin-top: 5px;
}
#formaçãoComplementar{
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
}

#iconExperiênciaProfissional {
    display: inline;
    color: #2a52be;
    margin-left: -8px;
    margin-right: 2px;
    margin-top: 5px;
}
#experiênciaProfissional {
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
}
.divhrs{
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 0px;
    display: flex;
    width: 100%;
}
#hrA{
    margin-left: 0;
}
#hrB{
    margin-right: 0;
}

.divIdiomas {
    font-size: medium;
    color: #2a52be;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
    display: flex;
    width: 50%;
}

.divMasterIidiomaValores {
    display: flex;
}

.divValoresMaior, .divIdiomasMaior{
    display: inline;
    width: 100%;
    margin-left: 10px;
    margin-right: 15px;
}
.divIdiomasTopo {
    color: black;
    display: flex;
    width: 100%;
}
.divValoresTopo {
    color: black;
    display: flex;
    width: 100%;
}
#iconIdiomas {
    display: inline;
    color: #2a52be;
    margin-left: -20px;
    margin-right: 1px;
    margin-top: 5px;
}
#idiomas {
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 13px;
}
.divValores {
    font-size: medium;
    color: #2a52be;
    text-align: left;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
    display: flex;
    width: 50%;
}
#iconValores {
    display: inline;
    color: #2a52be;
    margin-left: 15px;
    margin-top: 5px;
}
#valores {
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 13px;
}
#iconPrêmioseTítulos {
    display: inline;
    color: #2a52be;
    margin-left: -8px;
    margin-right: 1px;
    margin-top: 5px;
}
#prêmioseTítulos {
    font-size: x-large;
    color: #2a52be;
    width: 100%;
    height: auto;
    margin-top: 0;
	margin-bottom: 0;
    margin-left: 10px;
}






.conteudo, .conteudoPrincipaisCompetências, .conteudoFormacao, .ConteudoFormacaoComplementar, .ConteudoExperiencia, .Conteudoidiomas, .ConteudoValores, .ConteudoPremiosTitulos {
    margin: 0 auto;
    width: 100%;;
    max-width: 400px;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #2b2a2a;
    padding: 20px;
    border-radius: 12px;
}

.topo, .topoPrincipaisCompetências {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 12px; 
} 

.divPCompTopo, .divFormacaoTopo, .divFCTopo, .divExpProfTopo, .divPremTitilosTopo {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   margin-bottom: 0px;   
}

.topo input, .topoPrincipaisCompetências input {
    width: 85%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 0.8rem;
    background: #191818;
    color: #FFF;
}
.títulosAreasCurriculoFormu, .títulosAreasFormacao, .títulosAreasFormacaoComplementar, .títulosExperienciasProficionais {
    width: 100%;
    display:flex;
    text-align:center;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    color: #b4b8b5;
}

#inputnovaCompetencia {
    margin-right: 5px;
}

#inputAreaCompetencia {
    width: 30%;
    margin-right: 05px;
}

.topo button, .topoPrincipaisCompetências button {
    width: 35px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #FFF;
    outline: none;
}

.topo button:hover, .topoPrincipaisCompetências button:hover {
    background: #1f1e1e;
    cursor: pointer;
}

#listaNomes, #listaPCompetencias {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaNomes li {
    padding: 10px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 08px;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}

.btnAcao:hover {
    background: #3c3a3a;
}

.textonomecompleto, .textopalavraschaves {
    color: #b4b8b5;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}

#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #191818;
    border: 1px solid #2f2e2e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}
.divValoresLeft, .divIdiomasLeft {
    display: flex;
    width: 25%;
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;

}
.divValoresRight, .divIdiomasRight {
    display: inline-block;
    width: 75%;
    margin-left: 10px;
    font-size: 15px;

}
.divPCompLeft, .divFormacaoLeft, .divFCLeft, .divExpProfLeft, .divPremTitLeft {
    display: inline-block;
    width: 20%;
    text-align: right;
    font-weight: bold;
} 

.divPCompRight, .divFormacaoRight, .divFCRight, .divExpProfRight, .divPremTitRight {
    display: inline-block;
    width: 80%;
    border-left: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
}
.infosLeftValoresIdiomas{
    display:inline;
    width: 100%;
    justify-content: right;
    margin: 0 auto;
    font-size: 12px;

}
.infosLeft {
    display:inline-block;
    width: 100%;
    text-align: right;
    justify-content: right;
    margin-right: 10px;
    padding: 0px;
    margin: 0%;
    font-size: 12px;
    margin-bottom: 0%;
}
.infosRightValoresIdiomas{
    display:block;
    width: 100%;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;

}
.infosRight {
    display:inline;
    width: 100%;
    text-align:justify;
    margin-left: 10px;
    padding: 1px;
    margin: 0%;
    font-size: 12px;
    hyphens: auto;
}

#janelaEdicao.abrir {
    display: block !important;
}

#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: 100;
    right: 0;
    display: none;
}

#janelaEdicaoFundo.abrir {
   display: block !important;    
}

#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #2d2c2c;
    background: #2d2c2c;
    color: #FFF;
    outline: none;
}

form {
    width: 100%;
    margin-top: 20px;
}

.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.frm-linha label {
    margin-bottom: 7px;
}

.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #191818;
    font-size: 1.2rem;
    background: #2d2c2c;
    color: #FFF;
}

.frm-linha button {
    background: #2d2c2c;
    border: 1px solid #191818;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

.frm-linha button:hover {
    background: #3c3a3a;
} 

.comp1, .comp2, .comp3, .formacao1, .formacao2, .formacao3, .formacao4, .fC1, .fC2, .fC3, .fC4, .fC5, .fC6, .fC7, .fC8, .fC9, .fC10, .fC11, .fC12, .fC13, .fC14, .ExP1, .ExP2, .ExP3, .ExP4, .PT1, .PT2 {
    display: flex;
}
.inputisPC, .inputisForm, .inputisFC, .inputisExP {
    width: 80%;
    display: inline;
    margin-right: 5px;
};
.BottoesPC, .BottoesForm {
    width: 20%;
    display: inline;
}

.Enviar1comp, .Enviar2comp, .Enviar3comp, .Enviar1cursoform, .Enviar2cursoform, .Enviar3cursoform, .Enviar4cursoform, .EnviarFC1, .EnviarFC2, .EnviarFC3, .EnviarFC4, .EnviarFC5, .EnviarFC6, .EnviarFC7, .EnviarFC8, .EnviarFC9, .EnviarFC10, .EnviarFC11, .EnviarFC12, .EnviarFC13, .EnviarFC14, .EnviarExP1, .EnviarExP2, .EnviarExP3, .EnviarExP4, .EnviarIdioma1, .EnviarIdioma2, .EnviarIdioma3, .EnviarValores, .EnviarPT1, .EnviarPT2 {
    height: 95%;
    width: 130%;
    padding: 0;
}

.infosRightnegrito {
    display:flex;
    width: 100%;
    text-align: justify;
    margin-left: 10px;
    padding: 1px;
    margin: 0%;
    font-size: 12px;
    font-weight: bold;
}

.infosRightsublinhado {
    display:flex;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    padding: 1px;
    margin: 0%;
    font-size: 12px;
    text-decoration: underline;
}

#PChaves1, #PChaves2, #PChaves3, #PChaves4 {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

.container1, .container2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer2, .footer1{
    display: flex;
    position:absolute;
    bottom: 10px;
    font-size: small;
    width: 680px;
}

.footerLeft{    
    display: inline-block;
    width: 33%;
}

.footerCenter{
    display: inline-block;
    width: 34%;

}

.footerRight{
    display: inline-block;
    width: 33%;

}

img    {
    border-radius: 50%;
    /* border: 3px solid #808080; */
}

